
body		{ background-color: #ddd; font-size: 100%; }

.main-pane	{ flex-grow: 1; min-height: 200px; }
.side-pane	{ width: 200px; min-height: 100px; flex-shrink: 0; position: sticky; top: 10px; }

.content-pane	{ background-color: #fff; border-radius: 3px; box-shadow: 0 0 5px black; padding: 5px 20px; }

#wiki-container	{ justify-content: flex-start; align-items: flex-start; column-gap: 20px; padding: 20px 40px; width: 100%; box-sizing: border-box; }

header	{ padding: 20px 40px; width: 100%; box-sizing: border-box; }
footer	{ text-align: center; }

.flex-container { display: flex; }

div.side-pane > ul	{ list-style-type: none; padding: 0; }

.material-icons.md-18 { font-size: 18px; vertical-align: bottom; }

li	{ margin-block-start: 0.5em; margin-block-end: 0.5em; }
a	{ text-decoration: none; color: #333; }
a:hover		{ text-decoration: underline; }
a:visited	{ color: #333; }

a.new			{ color: #c33; }
a.new:visited	{ color: #c33; }

a.exist			{ color: #13f; }
a.exist:visited	{ color: #13f; }

textarea#raw-markdown {
    margin: 0px;
    height: 200px;
    width: 100%;
	margin-block-start: 0.5em; 
	margin-block-end: 0.5em; 
}

table {
  border-collapse: collapse;
  margin-block-start: 1em; 
  margin-block-end: 1em; 
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

th {
  background-color: #DDD;
}

td.left-cell	{ align: left; }
td.center-cell	{ align: center; }
td.right-cell	{ align: right; }
td.justify-cell	{ align: justify; }

#search-bar		{ width: calc(100% - 8px); }
#search-suggestions	{ 
		z-index: 1; 
		position: absolute; 
		width: 200px; 
		top: 0; 
		border: 1px solid; 
		box-sizing: border-box; 
		visibility: hidden; 
		background-color: #eee;
	}
#search-suggestions-locator	{ position: relative; width: 200px; height: 0; top: -1px; }
#search-suggestions > ul	{ list-style-type: none; padding: 1px 5px; }

#tags-list	{ width: calc(100% - 2px); }
.tag-list-view	{ display: flex; justify-content: flex-start; align-items: flex-start; column-gap: 10px; width: 100%; box-sizing: border-box; }
.tag-list-entry	{ border-radius: 5px; padding: 0 5px; background-color: #acf; }